.body-container {
    @apply flex flex-col items-center justify-center mb-10;
    margin-top: 5rem;
}

.heading {
    @apply font-body text-black font-semibold text-2xl md:text-3xl;
    width: 81vw;
}

.highlight {
    @apply text-orange;
}

@media (max-width: 680px) {
    .heading {
        width: 95vw;
    }

    .body-container {
        margin-top: 2.5rem;
    }
}